<div class="container mt-4">
  <div class="row">
    <div class="col-sm-12">
      <section [formGroup]="userForm">
        <div class="row mb-1">
          <label class="col-2 col-form-label">
            {{ field.label }}
            <span *ngIf="field.required" class="text-danger">*</span>
          </label>
          <div class="col-sm-6">
            <div [ngSwitch]="field.controlType">
              <div *ngSwitchCase="'textbox'">
                <input
                  [type]="field.type"
                  [id]="field.key"
                  [formControlName]="field.key"
                  class="form-control"
                />
                <!-- <app-inputfield
                  [type]="field.type"
                  [label]="field.label"
                  [formGroup]="userForm"
                  [control]="field.key"
                  [required]="field.required"
                >
                </app-inputfield> -->
              </div>

              <div *ngSwitchCase="'radio'" class="mt-2">
                <div class="radioBtn">
                  <div *ngFor="let opt of field.options">
                    <input
                      type="radio"
                      [id]="field.key"
                      [name]="field.key"
                      [value]="opt.key"
                      [formControlName]="field.key"
                      class="form-check-input"
                    />
                    {{ opt.value }}&nbsp;
                  </div>
                </div>
              </div>

              <div *ngSwitchCase="'textarea'">
                <textarea
                  [id]="field.key"
                  class="form-control"
                  [formControlName]="field.key"
                >
                </textarea>
              </div>

              <div *ngSwitchCase="'select'">
                <select
                  [name]="field.key"
                  [id]="field.key"
                  [formControlName]="field.key"
                  class="form-control"
                >
                  <option value="">Select State</option>
                  <option *ngFor="let item of field.options" [value]="item.key">
                    {{ item.value }}
                  </option>
                </select>
              </div>
              <div *ngSwitchCase="'checkbox'">
                <input
                  class="form-check-input"
                  type="checkbox"
                  [id]="field.key"
                  [name]="field.key"
                  [formControlName]="field.key"
                />&nbsp; {{ field.value }}
              </div>
            </div>

            <div
              *ngIf="userForm.get(field.key).touched && userForm.get(field.key).errors?.['required']"
              class="alert alert-danger ml-3 p-2 fadeInDown animated"
            >
              This Field is Required
            </div>

            <div
              *ngIf="userForm.get(field.key).invalid && userForm.get(field.key).errors?.['email']"
              class="alert alert-danger ml-3 p-2 fadeInDown animated"
            >
              please email 'abc@gmail.com'
            </div>

            <div
              *ngIf="userForm.get(field.key).errors?.['minlength']"
              class="alert alert-danger ml-3 p-2 fadeInDown animated"
            >
              Please Enter 6 Character
            </div>

            <div
              *ngIf="userForm.get(field.key).errors?.['maxlength']"
              class="alert alert-danger ml-3 p-2 fadeInDown animated"
            >
              Zip Code Required Max 3 Character
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
