<div class="col-md-8 mb-3">
  <div class="form-outline" [formGroup]="formGroup">
    <input
      [type]="type"
      class="form-control"
      [formControlName]="control"
      [required]="required"
      placeholder="{{ label }}"
    />
  </div>
  <div
    *ngIf="
      formGroup.controls[control].invalid && formGroup.controls[control].dirty
    "
  >
    <div
      *ngIf="formGroup.controls[control].errors?.['required']"
      class="alert alert-danger ml-3 p-2 fadeInDown animated"
    >
      This field is required
    </div>

    <div
      *ngIf="formGroup.controls['email'].errors?.['email']"
      class="text-danger"
    >
      <div
        *ngIf="formGroup.controls[control].errors?.['pattern']"
        class="text-danger"
      >
        Email is abc@gmail.com
      </div>
    </div>

    <div
      *ngIf="formGroup.controls[control].errors?.['pattern']"
      class="text-danger"
    >
      Text Only
    </div>

    <div
      *ngIf="formGroup.controls[control].errors?.['minlength']"
      class="text-danger"
    >
      minlength required
    </div>
  </div>
</div>
